<div>
  <%= text_area_tag :content, @content, rows: 33, cols: 138 %>
</div>
<div class="container-btn-group btn-group btn-group-lg pull-right" role="group">
  <button type="submit" class="btn btn-primary">Salvar</button>
</div>
