<div class="panel panel-default">
  <div class="panel-heading">Regras que serão aplicadas:</div>
  <div class="panel-body">
    <ul class="list-group">
      <% @regexps.each do |regexp| %>
        <li class="list-group-item"><%= regexp['desc'] %></li>
      <% end %>
    </ul>
  </div>
</div>

<%= form_tag({action: :upload}, multipart: true) do %>
  <%= file_field_tag 'html_file' %>
  <%= submit_tag("Send") %>
<% end %>
