<div>
  <%= text_area_tag :content, @content, :class => "tinymce", :rows => 33 %>
</div>
<div class="container-btn-group btn-group btn-group-lg pull-right" role="group">
  <button type="button" class="btn btn-primary">Próximo</button>
</div>
<%= tinymce :select_chapter %>
